
<% @page_title = "Tweets Index" %>

<% @tweets.each do |tweet| %>


<tr>
      <td><%= tweet.tweet %></td>
      <td><%= tweet.lat %></td>
      <td><%= tweet.lon %></td>
      <td><%= tweet.user_name %></td>
      <td><%= tweet.amp %></td>
      <td>
        <%= link_to "amp up", {:action => 'amplify', :id => tweet.id} %>
        <%= link_to "Destroy", {:action => 'destroy', :id => tweet.id} %>
      </td>
    </br>
</tr>
<% end %>
<%= link_to "add new tweet", {:action => 'new'} %>
