<div class="menu">
  <h2>Admin Menu</h2>
  <div class="identity">Logged in as: <%= session[:username] %></div>
  <div class="latitude">
    with latitude of <%= session[:lat] %>
  </div>
  <div class="longitude">
    with latitude of <%= session[:lon] %>
  </div>
  <ul>
    <li><%= link_to("TimeLine", :controller => 'tweets', :action => 'show') %></li>
    <li><%= link_to("Manage Admin Users", :controller => 'users') %></li>
    <li></li>
  </ul>
</div>